<h1 class="lead">Studies have shown that people that are thankful and express that gratuity are more happy.
</h1>




Sharing our gratitude helps strengthen relationships





Here are links and videos to studies on positive psychology:
soulpancake
ted talk
university study/report