<h1 class="lead">About the Thankful Movement</h1>
<div class="content-separator"></div>
<div class="">
	<p class="about-content">Encouraging everyone to start expressing more of their gratitude for one another. <!-- As happiness and smiles are all contagious, let's try to make appreciation contagious. --> </p>
	<p class="about-content">We created an easy way to give thanks with online thank you notes. We have limited the thank you notes to 200 characters, to help keep them short and sweet, but just enough words to express your thoughts! </p>

	<p class="about-content"><strong>What inspired us to start the Thankful Movement?</strong></p>
	
	<p class="about-content">&#8220;It was my college graduation day at the UC Davis. I thanked my family and friends for being by my side during these crazy 4 years, but there was one more person I needed to thank, that would be my college counselor, Cris Breivik. I had wrote him a thank you card sharing my deepest gratitude for all his help with getting me back in to school after getting dismissed, and help during all my low times that I faced, and his never-ending belief in me to graduate. With my unexpected gesture, Cris was elated from my thank you card and overwhelmed with the impact he had on my life and time at UC Davis. He told me it had completely made his day.

	I realized even more how much a simple thank you can go a long way.&#8221;</br>
	- <em>Jerome Manuel</em>
	</p>

	<p class="about-content">Studies have shown that people that are more thankful and ones express that gratuity:
		<ul>
			<li class="about-content">make others smile</li>
			<li class="about-content">strengthens your relationships</li>
			<li class="about-content">make yourself more happy </li>
		</ul>
	</p>

	<p class="about-content">Inspiring videos and studies from:</p>
	<p>
		<%= image_tag('SOULPANCAKE.png', :class => "brand-source-logo")%>		<%= image_tag('TED.png', :class => "brand-source-logo")%>
	</p>
		<iframe width="560" height="315" src="//www.youtube.com/embed/oHv6vTKD6lg" frameborder="0" allowfullscreen></iframe>
		</br></br>
		<iframe width="560" height="315" src="//www.youtube.com/embed/I3G5sdUUd1Y" frameborder="0" allowfullscreen></iframe>
		</br></br>
<!-- not ready or comfortable saying it out loud and over the phone, start with sending them a simple thank you note. -->

	<iframe src="http://embed.ted.com/talks/martin_seligman_on_the_state_of_psychology.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</br></br>
	<p class="about-content">University Study - <a href="http://www.ppc.sas.upenn.edu/articleseligman.pdf">http://www.ppc.sas.upenn.edu/articleseligman.pdf</a>
	</p>



</div>