<h1 class="lead">About the Thankful Movement</h1>
<div class="content-separator"></div>
Studies have shown that people that are thankful and express that gratuity are more happy.</br>


1. make someone else smile </br>
2. strengthen your relationships </br>
3. make yourself more happy </br>

Sharing our gratitude helps strengthen relationships





Here are links and videos to studies on positive psychology:
soulpancake
ted talk
university study/report

how they inspired you, motivated you, or helped you with something.</br>Tell someone how grateful you are that they've always been there for you.</br>Or just share the things you love like the simple pleasures of life:


happiness, smiles are all contagious, let's make appreciation contagious


<a href="http://www.ppc.sas.upenn.edu/articleseligman.pdf">http://www.ppc.sas.upenn.edu/articleseligman.pdf</a>
</br>
<iframe width="560" height="315" src="//www.youtube.com/embed/oHv6vTKD6lg" frameborder="0" allowfullscreen></iframe>
</br>
<iframe width="560" height="315" src="//www.youtube.com/embed/I3G5sdUUd1Y" frameborder="0" allowfullscreen></iframe>
</br>
not ready or comfortable saying it out loud and over the phone, start with sending them a simple thank you note.
</br>
<iframe src="http://embed.ted.com/talks/martin_seligman_on_the_state_of_psychology.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>