/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.main-quote{
	font-size: 2.4em;
	font-family: helvetica neue, helvetica;
	font-weight: 100;
/*	color: #F7931E;*/
	color: #ffffff;
	text-align: center;
	background-color: #1384C7;
/*	background-color: #008FD5;*/
/*	background-color: #f4f4f4;*/
/*	line-height: 1.2em;*/
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 1px;
}

.sub-quote{
	border-bottom: 1px solid #187BAD;
/*	color: #1384C7;*/
	color: #fff;
	font-size: 0.9em;
	padding-bottom: 25px;
/*	width: 150%;*/
}


.note-quote{
/*	border-top: 1px solid #187BAD;*/
	color: #F7931E;
	padding-top: 20px;
	
}

.value-prop{
	font-size: 2.4em;
	font-family: helvetica neue, helvetica;
	font-weight: 100;
/*	color: #F7931E;*/
	color: #333;
	text-align: center;
	background-color: #f4f4f4;
	margin-top: -10px;
	margin-bottom: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	letter-spacing: 1px;
}

.value-prop-learn{
	font-size: 0.5em;
	font-family: helvetica neue, helvetica;
	font-weight: 200;
}

.about-content{
	font-size: 1.4em;
	font-family: helvetica neue, helvetica;
	font-weight: 200;
	color: #333;
	line-height: 1.4em;
/*	letter-spacing: 1px;*/
}

.brand-source-logo{
	width: 25%;
}

.image{
	width: 100%;
	background: #fff;
	margin-bottom: 10px;
/*	max-height: 250px;*/
/*	float: left;*/
}


.content-separator {
	border-top: 1px solid #f4f4f4;
	clear: both;
	margin: 20px 0 20px 0;
	width: 100%;
}

/*.content-separator-value{
	border-top: 1px solid #333333;
	clear: both;
	margin: 20px 0 20px 0;
	width: 50%;
	text-align: center;
}*/

.notes-background{
	background: #f4f4f4;
}

.thank-you-note-container{ 
	width: 100%;
	border: 1px solid #cccccc;
	background: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
}

.love-container{
	height: 130px;
	width: 14%;
	background: #F7931E;
	color: #fff;
	font-family: helvetica neue;
	font-size: 1.2em;
	font-weight: 100;
/*	clear: both;*/
	float: left;
	text-align: center;
	margin-right: 2%;
	vertical-align: middle;
	padding-top: 60px;
	letter-spacing: 1px;
}

.content-container{
	height: 190px;
	width: 68%;
	background: #1384C7;
	color: #fff;
	font-family: helvetica neue;
/*	font-size: 1.4em;*/
	font-size: 1.2em;
	font-weight: 100;
	line-height: 1.3em;
/*	clear: right;*/
	float: left;
	vertical-align: middle;
	letter-spacing: 1px;
}

.content-text{
	padding: 10px;
}

.content-hide-edit{
	display: none;
}

.thank-you-note-container:hover .content-hide-edit{
	display: block;
}

.share-container{
	height: 185px;
	width: 14%;
	background: #ADCE74;
	float: left;
	text-align: center;
	margin-left: 2%;
	color: #fff;
	font-family: helvetica neue;
	font-size: 1.2em;
	font-weight: 100;
	vertical-align: middle;
	padding-top: 5px;
	letter-spacing: 1px;
}

.share-icons{
	margin-bottom: 5px;
}

.note-edit{
	color: #fff; 
}

.note-edit-icon{
	color: #fff;
	margin-top: 20px;
}

.name-on-profile{
	color: #1384C7;
	font-size: 1.8em;
	font-family: helvetica neue, helvetica;
	font-weight: 100;
	margin: 40px 40px 20px 0px;
}

.thanks-count{
	color: #F7931E;
	font-size: 1.8em;
	font-family: helvetica neue, helvetica;
	font-weight: 100;
	margin: 10px 40px 40px 0px;
}

.center-content{
	text-align: center;
}

.input-width{
	width: 350px;
	height: 400px;
}

.image-upload{
	border: 1px solid #333;
	width: 40%;
}

.flash-alert-width{
	width: 55%;
	margin-left:10px;
}

.recent-header{
	color: #fff;
/*	border: 1px solid #F7931E;*/
	background-color: #1384C7;
	font-size: 1.5em;
	font-weight: 300;
	padding: 10px;
	width: 50%;
}
.recent-container{
	border-top: 4px solid #1384C7;
	padding-top: 20px;
	width: 100%;
}

.popular-header{
	color: #fff;
/*	border: 1px solid #F7931E;*/
	background-color: #F7931E;
	font-size: 1.5em;
	font-weight: 300;
	padding: 10px;
	width: 50%;
}
.popular-container{
	border-top: 4px solid #F7931E;
	padding-top: 20px;
	width: 100%;
}








